/* Navbar base */
/* Navbar base (transparent) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* ================= NAVBAR ================= */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  z-index: 999;
  transition: all 0.4s ease;
}

.navbar.scrolled {
  backdrop-filter: blur(8px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
}

/* ================= CONTAINER ================= */
.nav-container {
  max-width: 1300px;
  margin: auto;
  padding: 22px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}

.nav-container.shrink {
  max-width: 1000px;
  padding: 14px 30px;
}

/* ================= LOGO ================= */
.logo {
  font-family: Georgia, serif;
  color: #848282;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.sub-title {
  color: #5d0d0d;
}

/* ================= LINKS ================= */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li {
  font-size: 0.95rem;
  letter-spacing: 1px;
  color: #858383;
  cursor: pointer;
  position: relative;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
}

/* Hover underline */
.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #6d0c0c;
  transition: width 0.3s ease;
}

.nav-links li:hover {
  color: #570a0a;
}

.nav-links li:hover::after {
  width: 100%;
}

/* ================= HAMBURGER ================= */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 26px;
  height: 2px;
  background: #747373;
  margin: 4px 0;
  transition: 0.3s;
}

/* Animate hamburger */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* ================= MOBILE ================= */
@media (max-width: 900px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #000;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
    transform: translateY(-120%);
    opacity: 0;
    transition: all 0.4s ease;
  }

  .nav-links.open {
    transform: translateY(0);
    opacity: 1;
  }

  .nav-links li {
    font-size: 1.1rem;
  }

  /* .nav-container {
    padding: 18px 25px;
  } */

  .nav-container.shrink {
    max-width: 100%;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .logo {
    font-size: 1.1rem;
  }

  .nav-links li {
    font-size: 1rem;
  }
}
